{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            {% if product.product_image %}
                <img class="thumbnail" src="{{product.product_image.url}}">
            {% else %}
                <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
            {% endif %}
            <div class="box-element product">
            <h6><strong>{{product.product_name}}</strong></h6>
            <hr>
            <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float:right;"><strong>{{product.product_price|floatformat:2}} TK</strong></h4>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}